.container_1 {
  background-color: #f42f2c;
  height: 500px;
  width: 100%;
  margin-top: 250px;
}

.row_11 {
  width: 75%;
  height: 450px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px;
}

.heading {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.head {
  position: relative;
  top: 100px;
  left: 20px;
  width: 33.33%;
}

.box {
  width: 100%;
  height: 50px;
}

.input_size {
  border-radius: 25px;
  padding: 10px;
  width: 320px;
  border: none;
  font-size: 12px;
}

.row_22 {
  background-color: rgb(11, 11, 11);
  height: 50px;
  width: 100%;
  position: relative;
  bottom: 0px;
}

.footer {
  width: 80%;
  position: relative;
  left: 310px;
  /* padding: 5px; */
}

.icon {
  position: relative;
  bottom: 36px;
  left: 282px;
  font-size: 35px;
  color: #f42f2c;
}

.icons {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.content {
  margin-top: 10px;
}

.icons i {
  color: white;
  font-size: 22px;
  position: relative;
  top: 0px;
  left: 250px;
}

.icons i:hover {
  color: #f42f2c;
}

@media only screen and (max-width: 400px) {
  .container_1 {
    margin-top: 2250px;
    width: 100%;
    height: 900px;
  }

  .row_11 {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    gap: 200px;
  }

  .head {
    width: 100%;
    padding: 20px;
    position: relative;
    left: 0px;
    margin-top: -200px;
    /* background-color: blue; */
  }

  .heading {
    font-size: 20px;
    position: relative;
    right: 30px;
    top: 60px;
  }

  .head_22 {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .row_22 {
    height: 80px;
    width: 100%;
    position: relative;
    top: 0px;
  }

  .footer {
    width: 100%;
    position: relative;
    left: 0px;
    top: 10px;
  }

  .content {
    margin-top: -90px;
  }

  .input_size {
    border-radius: 25px;
    padding: 10px;
    width: 250px;
    border: none;
    font-size: 12px;
    position: relative;
    right: 35px;
    top: 60px;
  }

  .head_33 p {
    position: relative;
    top: 60px;
    right: 0px;
  }

  .icon {
    position: relative;
    left: 180px;
    top: 23.5px;
    font-size: 35px;
    color: red;
  }

  .icons {
    position: relative;
    top: 30px;
    right: 130px;
  }

  .icons:hover {
    cursor: pointer;
    color: #f42f2c;
  }
}

@media only screen and (min-width:400px) and (max-width:600px){
  .container_1 {
    margin-top: 250px;
    width: 100%;
    height: 900px;
  }

  .row_11 {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    gap: 200px;
  }

  .head {
    width: 100%;
    padding: 20px;
    position: relative;
    left: 0px;
    margin-top: -200px;
    /* background-color: blue; */
  }

  .heading {
    font-size: 20px;
    position: relative;
    right: 30px;
    top: 60px;
  }

  .head_22 {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .row_22 {
    height: 80px;
    width: 100%;
    position: relative;
    top: 0px;
  }

  .footer {
    width: 100%;
    position: relative;
    left: 0px;
    top: 10px;
  }

  .content {
    margin-top: -90px;
  }

  .input_size {
    border-radius: 25px;
    padding: 10px;
    width: 250px;
    border: none;
    font-size: 12px;
    position: relative;
    right: 35px;
    top: 60px;
  }

  .head_33 p {
    position: relative;
    top: 60px;
    right: 0px;
  }

  .icon {
    position: relative;
    left:-70px;
    top: 60.5px;
    font-size: 35px;
    color: red;
    display: none;
  }

  .icons {
    position: relative;
    top: 30px;
    right: 130px;
  }

  .icons:hover {
    cursor: pointer;
    color: #f42f2c;
  }
}
