.menu_footer{
    margin-top: -150px;
}

.div_333{
    text-align: center;
    margin-top: 80px;

}

.div_333 p{
    margin-top: 40px;
}

@media only screen and (max-width:400px){
    .div_333{
        margin-top: 80px;
    }

    .main_row_2222{
       position: relative;
       bottom:20px;
    }

    .div_5{
       display: none;
    }

    .menu_footer{
        margin-top: -2100px;
    }

}